!!! 5
head
  title Realm of the Mad God
  != css('app')

body
  canvas#designer(width=800, height=600)
  != js('http://code.createjs.com/tweenjs-0.3.0.min.js')
  != js('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  != js('app')
