!!! 5
head
  title Realm of the Mad God
  != css('editor')
  != js('http://code.createjs.com/tweenjs-0.3.0.min.js')
  != js('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  != js('http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js')
  != js('lib/buzz')
  != js('lib/three')
  != js('lib/stats')

body
  canvas#designer(width=640, height=480)
  #editor
    | OO-OO
    | --O--
    | -----
    | O-O-O
    | -----
    | -----
    | -----
    | -----
    | -----
    | OOOOO
  != js('editor')
