@import 'nib'

body
  margin 0
  overflow hidden
  background-color: #000000
  font-family: helvetica

canvas
  background-color: #000000
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: optimizeSpeed
