@import 'nib'

body
  margin 0
  overflow hidden
  background-color: #ffffff
  font-family: helvetica

canvas
  float:right
  background-color: #000000
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: optimizeSpeed
  z-index: -1000

#stats
  display: none

#editor
  position absolute
  top 0
  right 400px
  bottom 0
  left 0
